body {
    margin: 0;
    background: #f9f9f9;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    /* centre verticalement SVG et texte */
    justify-content: center;
    /* centre horizontalement tout le contenu */
    gap: 15px;
    /* espace entre SVG et texte */
    font-weight: bold;
    color: #0056b3;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background: #eef4fb;
    text-align: center;
    /* centre le texte à l’intérieur du bloc texte */
}

.header-text h1 {
    margin: 0;
    font-size: 1.2em;
}

.header-text p {
    margin: 0;
    font-size: 0.9em;
    color: #333;
}


#tree {
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.node {
    width: 150px;
    height: 60px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #999;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-weight: bold;
    color: blue;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}

.node:hover {
    transform: scale(1.05);
    background: #e3f2fd;
    cursor: pointer;
}

.male {
    border-color: #007bff;
    background-color: #eaedf0;
}

.female {
    border-color: #e83e8c;
    background-color: rgb(239, 233, 234);
}


.popup-person {
    position: absolute;
    background: #fff;
    border: 1px solid #888;
    border-radius: 8px;
    padding: 10px 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    min-width: 180px;
    z-index: 9999;
    font-family: sans-serif;
    font-size: 14px;
}

.popup-person h3 {
    margin: 0 0 6px 0;
    font-size: 16px;
    color: #222;
}

.popup-person .close-btn {
    float: right;
    cursor: pointer;
    color: #999;
}

.popup-person .close-btn:hover {
    color: #000;
}

.node.has-hidden-children {
    background-color: #fff3b0;
    /* jaune clair */
    border-color: #f4c430;
    /* un peu plus voyant */
}

.social-links-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    /* un peu d’espace sous le header */
}

.social-links-container a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    color: white;
    text-decoration: none;
    font-size: 24px;
}

/* Couleurs propres à chaque réseau */
.social-links-container a.facebook {
    background-color: #1877f2;
}

.social-links-container a.x {
    background-color: #1da1f2;
}

.social-links-container a.linkedin {
    background-color: #0077b5;
}

/* Effet hover */
.social-links-container a:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}

.social-links-container svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
}