 body {
     margin: 0;
     background: #f9f9f9;
     font-family: Arial, sans-serif;
 }

 #tree {
     width: 100%;
     height: 100vh;
     overflow: auto;
     background-color: #c2c2c2;
 }

 .header {
     text-align: right;
     /* Center text */
     font-weight: bold;
     /* Bold text */
     color: #007bff;
     /* Blue text */
     background-color: #f0f8ff;
     /* Light blue background */
     padding: 12px 20px;
     /* Some spacing inside */
     border-radius: 12px;
     /* Rounded corners */
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     /* Soft shadow */
     font-size: 20px;
     /* Slightly larger text */
     margin: 10px auto;
     /* Centered horizontally with spacing */
     width: fit-content;
     /* Adjust width to content */
 }


 .node {
     width: 150px;
     /* largeur fixe */
     height: 60px;
     /* hauteur fixe */
     padding: 5px;
     border-radius: 8px;
     border: 1px solid #999;
     background: #fff;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
     text-align: center;
     transition: 0.2s ease;
     display: flex;
     align-items: center;
     justify-content: center;
     overflow: hidden;
     /* cache le texte qui dépasse */
     white-space: nowrap;
     /* empêche le retour à la ligne */
     text-overflow: ellipsis;
     font-size: 22px;
     font-weight: bold
         /* ajoute "..." si le texte est trop long */
 }


 .node:hover {
     transform: scale(1.05);
     background: #e3f2fd;
     cursor: pointer;
 }


 .popup-person {
     position: absolute;
     background: #fff;
     border: 1px solid #888;
     border-radius: 8px;
     padding: 10px 14px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
     min-width: 180px;
     z-index: 9999;
     font-family: sans-serif;
     font-size: 14px;
 }

 .popup-person h3 {
     margin: 0 0 6px 0;
     font-size: 16px;
     color: #222;
 }

 .popup-person .close-btn {
     float: right;
     cursor: pointer;
     color: #999;
 }

 .popup-person .close-btn:hover {
     color: #000;
 }

 .male {
     border-color: #007bff;
     background-color: #eaedf0;
 }

 .female {
     border-color: #e83e8c;
     background-color: rgb(239, 233, 234);
 }